<section class="background-section">
    <div class="accordion mx-lg-5 py-lg-5 mx-md-5 py-md-5 mx-3 py-3" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                {{title}} notre Histoire
                </button>
            </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body text">
                « Nous sommes en 50 avant Jésus-Christ. Toute la Gaule est occupée par les Romains… Toute ? Non ! 
                Car un village peuplé d’irréductibles Gaulois résiste encore et toujours à l’envahisseur. 
                Et la vie n’est pas facile pour les garnisons de légionnaires romains des camps retranchés de Babaorum, Aquarium, Laudanum et Petibonum… »
            </div>
        </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Notre Entreprise
                </button>
            </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body text">
                <strong>“{{title}}”</strong> est une entreprise qui confectionne des figurines inspirées de la bande dessinée Astérix et Obélix.
                Elle cible une population jeune entre 30 et 55 ans, nostalgique des aventures des célèbres Gaulois.
            </div>
        </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed title" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Nos Produits
                </button>
            </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body text">
                Figurine en terre cuite peinte à la main de fabrication Gauloise.
            </div>
        </div>
        </div>
    </div>

</section>
    
