.background-section {
    background-color: #f9d0a3;
}

.title {
    color: #da001e;
    font-family: "BubbleboddyNeue-regular-Trial", sans-serif;
}

.text {
    color: #151217;
    font-family: "Confortaa", sans-serif;
    font-size: 1em;
    line-height: 1.5;
}
